* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    background-color: hsl(0, 0%, 99%);
    width: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.instagram-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */
    flex-direction: column;
    max-width: 400px;
    min-width: 350px;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    margin-top: 1rem;
    padding: 1.3rem 0;
    border: 1px solid hsl(0, 0%, 85%);
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
    margin-top: 35px;
    margin-bottom: 35px;
}

.text-box{
    background-color: hsl(0, 0%, 99%);
    color: hsl(0, 0%, 70%);
    border: 1px solid hsl(0, 0%, 85%);
    padding: 5px;
    text-align: left;
    min-width: 250px;
    min-height: 30px;
    margin-bottom: 15px;
}

.text-box p{
    font-size: 12px;
}

.text-ou{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

#ou{
    font-style: normal;
}

#ou h2{
    color:  hsl(0, 0%, 50%);
    font-size: 12px;
    align-items: center;
    display: flex;
}

#ou h2::before{
    content: "";
    height: 1px;
    width: 80px;
    margin: 15px;
    background-color: #122a57;
    position: relative;
    background-color:  hsl(0, 0%, 70%);
}

#ou h2::after{
    content: "";
    height: 1px;
    width: 80px;
    margin: 15px;
    background-color: #122a57;
    position: relative;
    background-color:  hsl(0, 0%, 70%);
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    min-width: 220px;
    margin-top: 15px;
    border: none;
    margin-bottom: 15px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
    font-size: 12px;
}

.facebook-icon{
    max-width: 15px;
    min-width: 10px;
    justify-content: center;
    align-items: center;
}

.not-account {
    color: hsl(0, 0%, 50%);
}

.link-blue {
    color: #0095f6;
    margin-top: 15px;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.get-app{
    color: hsl(0, 0%, 50%);
}

.download {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    margin: 15px;
    background-image: url('./img/appstore-button.png');
}

.app-download:nth-child(2) {
    margin: 15px;
    background-image: url('./img/googlestore-button.png');
}

footer{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: hsl(0, 0%, 99%);
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    text-decoration: none;
}

footer .footer{
    color: hsl(0, 0%, 50%);
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

footer .footer-items{
    color: hsl(0, 0%, 50%);
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin: 3px;
}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 100%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: hsl(0, 0%, 99%);
    }

    .instagram-wrapper {
        width: 100%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 90%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}